$size-q: 4px;
$size-h: 8px;
$size-1: 16px;
$size-1h: 24px;
$size-2: 32px;
$size-3: 48px;
$size-4: 64px;

// Primary
$p:  #3d405b;
$p-light: lighten($p, 10%);

// Secondary
$s: #f5f5f5;
$s-dark: darken($s, 4%);

// Tertiary
$t: #e07a5f;