
<div class="filter-container">
  <div class="container container--search">
    <div class="filters">
      <div class="filter filter--mobile">
        <button type="button" (click)="openAllFilters()">All Filters</button>
      </div>

      <div class="filter not-implemented">
        <input [value]="county || ''" type="text" />
      </div>
  
      <div class="filter">
        <select (change)="changeFilter('minBeds', $any($event.target).value)" [value]="minBeds || -1">
          <option value="-1">min beds</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        to
        <select (change)="changeFilter('maxBeds', $any($event.target).value)" [value]="maxBeds || -1">
          <option value="-1">max beds</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> 
      </div>
  
      <div class="filter">
        <select (change)="changeFilter('minPrice', $any($event.target).value)" [value]="minPrice || -1">
          <option value="-1">min price</option>
          <option value="50000">50000</option>
          <option value="100000">100000</option>
          <option value="150000">150000</option>
          <option value="200000">200000</option>
          <option value="250000">250000</option>
        </select>
        to
        <select (change)="changeFilter('maxPrice', $any($event.target).value)" [value]="maxPrice || -1">
          <option value="-1">max price</option>
          <option value="100000">100000</option>
          <option value="200000">200000</option>
          <option value="300000">300000</option>
          <option value="400000">400000</option>
          <option value="500000">500000</option>
        </select> 
      </div>

      <div class="filter">
        <select (change)="changeFilter('propertyType', $any($event.target).value)" [value]="propertyType">
          <option value="undefined">Property Type</option>
          <option value="detached">Detached</option>
          <option value="semiDetached">Semi-detached</option>
          <option value="terraced">Terraced</option>
          <option value="flat">Flat</option>
          <option value="bungalow">Bungalow</option>
          <option value="land">Land</option>
        </select>
      </div>

      <div class="filter filter--mobile">
        <select (change)="changeFilter('sort', $any($event.target).value)" [value]="sort || 'newest'">
          <option value="newest">Newest Listed</option>
          <option value="oldest">Oldest Listed</option>
          <option value="priceHigh">Price High</option>
          <option value="priceLow">Price Low</option>
        </select>
      </div>
    </div>  
  </div>
</div>

<div class="page">
  <div class="container container--search">
    <div class="search-main">
      @if (isLoading()) {
        <p>loading...</p>
      }
      @for (item of searchItems(); track item) {
        <a [routerLink]="'/buy/residential/county/town/advert/' + item.id" class="item-wrapper">
          <div class="search-item">
            <div class="search-item__media">
              <img class="search-item__media__one" [src]="item.media.images[0]" alt="" />
              <img class="search-item__media__two" [src]="item.media.images[1]" alt="" />              
            </div>
            <div class="search-item__content">
              <p><strong>{{item.address.one}} {{item.address.two}}, {{item.address.town}}, {{item.address.county}} | {{item.dateCreated | date}}</strong></p>
              <p>&euro;{{item.price.value | number}}</p>
              <p>Beds: {{item.beds}}</p>
              <p>Baths: {{item.baths}}</p>
              <p>Size: {{item.sizeMetersSquared}}m&#178;</p>
              <p>Advert Type: {{item.advertType}}</p>
              <p>Property type: {{item.propertyType}}</p>
              <p>purchase: {{item.purchaseType}}</p>
            </div>
          </div>
        </a>
      } @empty {
       <p>No results</p>
      }
  
      <!-- pagination -->
      <ul class="pagination not-implemented">
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
      </ul>
    </div>
    <aside class="search-aside">
      <div class="map-wrapper">
        <div id="map"></div>
      </div>
      <!-- {{/*  <div>
        <p>map</p>
      </div>
      <div>
        <p>seo links for place (e.g. places "under" (towns) or places near)</p>
      </div>
      <div>
        <p>if youre on buy, try rent</p>
      </div>
      <div>
        <p>Stay secure with our security page</p>
      </div>
      <div>
        <p>Active Filters (sticky)</p>
        @for (test of allActiveFilters | keyvalue; track test) {
          <p>{{test.key}}: {{test.value}} <button>x</button></p>
        }  */}} 
      </div>    --->
    </aside>
  </div>
</div>

