@import '../../../styles/variables';

.filter-container {
  background: $p-light;
  padding: $size-2 0;

  .filters {
    display: flex;
    justify-content: space-between;
    gap: $size-1;
  }

  .filter:not(.filter--mobile) {
    display: none;
  }

  @media screen and (min-width: 992px) {

    .filter:not(.filter--mobile) {
      display: block;
    }
  }
}

.item-wrapper {
  text-decoration: none;
  color: inherit;
  display: block;

  + .item-wrapper {
    margin-top: $size-1;
  }

  @media screen and (min-width: 992px) {

    + .item-wrapper {
      margin-top: $size-1h;
    }
  }
}

.search-item {
  border-radius: $size-q;
  background: $s-dark;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__media {
    display: flex;
    gap: $size-q;
  }

  &__media__two {
    display: none;
  }

  &__content {
    padding: $size-1;
  }

  @media screen and (min-width: 576px) {
    flex-direction: row;

    img {
      width: 240px;
    }
  }

  @media screen and (min-width: 992px) {

    .search-item__media__two {
      display: block; 
    }
  }
}

.pagination {
  margin-top: $size-1;

  @media screen and (min-width: 992px) {
    margin-top: $size-1h;
  }
}