@import '../../../styles/variables';

.filter-container {
  background: $p-light;
  padding: $size-2 0;

  .filters {
    display: flex;
    justify-content: space-between;
    gap: $size-1;
  }
}

.item-wrapper {
  text-decoration: none;
  color: inherit;
  display: block;

  + .item-wrapper {
    margin-top: $size-1;
  }

  @media screen and (min-width: 992px) {

    + .item-wrapper {
      margin-top: $size-1h;
    }
  }
}

.search-item {
  border-radius: $size-q;
  background: $s-dark;
  box-shadow: 0 4px 4px -4px rgba(0,0,0,.3);
  display: flex;

  &__media {
    display: flex;
    gap: $size-q;
  }

  &__content {
    padding: $size-1;
  }

  img {
    display: block;
  }
}

.pagination {
  margin-top: $size-1;

  @media screen and (min-width: 992px) {
    margin-top: $size-1h;
  }
}