
<div class="filter-container">
  <div class="container container--wide">
    filters
  </div>
</div>

<div class="page">


  
  
  <div class="container container--wide container--search">
    <div class="main">
      <h1>Search</h1>
      @if (isLoading()) {
        <p>loading...</p>
      }
      @for (moo of yes(); track moo) {
        <div class="search-item">
          <p>{{moo.address.one}}, {{moo.address.two}}, {{moo.address.town}}, {{moo.address.county}}</p>
          <p>Beds: {{moo.beds}}</p>
          <p>Baths: {{moo.baths}}</p>
          <p>Size: {{moo.sizeMetersSquared}}</p>
        </div>
      } @empty {
       <p>No results</p>
      }
    </div>
  
    <aside>
      <a href>See properties to OPPOSITE in PLACE</a>
      <p>Related Searches</p>
      <p>Suggested</p>
      <a>Agents in PLACE</a>
    </aside>
  </div>
  

</div>

