<header>
  <div class="container">
    <p><a [routerLink]="'/'">Logo</a></p>
    <nav>
      <a [routerLink]="'/search'">Search</a>
      <a [routerLink]="'/search'">Buy</a>
      <a [routerLink]="'/search'">Rent</a>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <p class="footer-moo">Information</p>
    <a >Contact Us</a>
    <a [routerLink]="'/privacy-policy'">Privacy Policy</a>
    <a>Cookie Policy</a>
    <a>Terms and Conditions</a>
  </div>
  <div class="container">
    &copy; COMPANY_NAME 2023.
  </div>
</footer>