<div class="banner">
    <div class="container">
        <h1>Some Slogan</h1>
    </div>
 
</div>

<div class="container">

    <div class="search-bar">
        <div class="moo">
            <button [ngClass]="{'active': active === 'buy'}" class="no-offset" (click)="setActive('buy')">Buy</button>
            <button [ngClass]="{'active': active === 'rent'}" class="no-offset" (click)="setActive('rent')">Rent</button>
        </div>
        <div class="search-bar__inner">
            <input type="text" placeholder="Please enter a location">
            <button>Search</button>
        </div>

    </div>

    <section>
        <img src="https://placehold.co/200x200" />
        <div class="section__content">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p>Etiam sed lectus ipsum. Aenean urna leo, finibus in posuere ac, tincidunt a risus. Sed tempor auctor condimentum. Ut ac augue at quam aliquet tincidunt in et ipsum.</p>
        </div>
    </section>

    <section class="mooz">
        <img src="https://placehold.co/200x200" />
        <div class="section__content">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p>Etiam sed lectus ipsum. Aenean urna leo, finibus in posuere ac, tincidunt a risus. Sed tempor auctor condimentum. Ut ac augue at quam aliquet tincidunt in et ipsum.</p>
        </div>
    </section>
    
    <section>
        <img src="https://placehold.co/200x200" />
        <div class="section__content">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p>Etiam sed lectus ipsum. Aenean urna leo, finibus in posuere ac, tincidunt a risus. Sed tempor auctor condimentum. Ut ac augue at quam aliquet tincidunt in et ipsum.</p>
        </div>
    </section>
    
    <div class="seo-links">
        <h2>Counties</h2>
        <button>Buy Residential</button>
        <button>Rent Residential</button>
        <button>Buy Commercial</button>
        <button>Rent Commercial</button>
        <ul class="seo-links__links">
          @for (county of counties; track county) {
            <li><a [routerLink]="'/buy/residential/' + county.toLowerCase()">{{county}}</a></li>
          }
        </ul>
    </div>
</div>
