@import '../../../styles/variables';
@import '../../../styles/mixins';

.seo-links {
  margin-bottom: $size-4;

  &__nav {
    display: flex;
    gap: $size-1h;
    justify-content: center;
    flex-wrap: wrap;

    button {
      background: 0;
      border: 0;
      font-size: 18px; // TODO variablise
      opacity: 0.8;
      color: $p;
    }

    button.active {
      border-bottom: 2px solid $p;
      opacity: 1;
    }
  }

  &__title {
      font-size: $size-1h;
      margin-bottom: $size-1;
      text-align: center;
  }

  a {
    color: $t
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: $size-1;
    margin-top: $size-2;

    li {
      text-align: center;
      width: 100%;
    }

    @include sm {

      li {
        width: calc(50% - ($size-1 / 2));
      }
    }

    @include md {

      li {
        width: calc(33.3334% - 11px);
      }
    }

    @include lg {

      li {
        width: calc(25% - 12px);
      }
    }
  }
}