@import '../../../styles/variables';

.seo-links {
  margin-bottom: $size-4;
  h2 {
      font-size: $size-1h;
      margin-bottom: $size-1;
      text-align: center;
  }

  a {
    color: $t
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: $size-1;
    margin-top: $size-2;

    li {
      width: calc(25% - 12px);
      text-align: center;
    }
  }
}